<main class="main">
    <section>
        <h2>Formulario de Validación</h2>
        <form [formGroup]="formulario" (ngSubmit)="submit()">
            <label> Nombre: <input type="text" formControlName="nombre">
            </label>
            <div *ngIf="isNombreInvalid">
                <div *ngIf="nombre?.hasError('required')"> 
                    <small class="text-danger">El nombre es requerido</small>
                </div>
                <div *ngIf="nombre?.hasError('minlength')"> 
                    <small class="text-danger">El nombre debe tener al menos 3 caracteres</small>
                </div>
                <div *ngIf="nombre?.hasError('pattern')"> 
                    <small class="text-danger">El nombre no puede contener numeros ni caracteres especiales</small>
                </div>
            </div>
            <br>
            <label> Edad: <input type="number" formControlName="edad">
            </label>
            <div *ngIf="isEdadInvalid">
                <div *ngIf="edad?.hasError('required')"> 
                    <small class="text-danger">La edad es requerida y solo se admiten caracteres numéricos.</small>
                </div>
            </div>
            <br>
            <label> Email: <input type="text" formControlName="email">
            </label>
            <div *ngIf="isEmailInvalid">
                <div *ngIf="email?.hasError('required')"> 
                    <small class="text-danger">El email es requerido</small>
                </div>
                <div *ngIf="email?.hasError('email')"> 
                    <small class="text-danger">Se debe colocar un formato de email válido</small>
                </div>
            </div>
            <br>
            <label> Mensaje: <textarea formControlName="mensaje"></textarea>
            </label>
            <div *ngIf="isMensajeInvalid">
                <div *ngIf="mensaje?.hasError('required')"> 
                    <small class="text-danger">El mensaje es requerido</small>
                </div>
                <div *ngIf="mensaje?.hasError('minlength')"> 
                    <small class="text-danger">El mensaje debe tener al menos 5 caracteres</small>
                </div>
            </div>
            <br>
            <div class="checkbox-container">
                <label for="inscripto">¿Está inscripto?</label>
                <input type="checkbox" id="inscripto" formControlName="inscripto" />
            </div>
            <br>
            
            <button type="submit">Enviar</button>
            
            <!-- Mostrar todos los alumnos agregados -->
            <div *ngIf="alumnos.length > 0">
                <h3>Datos de los alumnos:</h3>
                <ul>
                    <li *ngFor="let alumno of alumnos; let i= index">
                        <strong>Nombre:</strong> {{ alumno.nombre }}<br>
                        <strong>Edad:</strong> {{ alumno.edad }}<br>
                        <strong>Email:</strong> {{ alumno.email }}<br>
                        <strong>Mensaje:</strong> {{ alumno.mensaje }}<br>
                        <strong>Inscripto:</strong> 
                        <span [appColorInscripto]="alumno.inscripto">
                          {{ alumno.inscripto ? 'Sí' : 'No' }}
                        </span><br>
                        <button class="button-eliminar" (click)="eliminarAlumno(i)">Eliminar</button><br><br>
                    </li>
                </ul>
            </div>
        </form>
    </section>
</main>

