<main class="main">
    <section>
        <h2>Cursos disponibles</h2>
        <form>
            <mat-form-field appearance="fill">
            <mat-label>Seleccionar curso</mat-label>
            <mat-select (selectionChange)="seleccionarCurso($event.value)">
                <mat-option *ngFor="let curso of cursos" [value]="curso.nombre">
                {{ curso.nombre }}
                </mat-option>
            </mat-select>
            </mat-form-field>
    
            <div *ngIf="cursoSeleccionado">
            <label>Descripción:</label>
            <p>{{ cursoSeleccionado.descripcion }}</p>
    
            <button mat-button class="btn-ver-curso" (click)="verCurso()" [disabled]="yaInscripto()">Ver curso</button>
            </div>

            <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            *ngIf="dataSource.data.length > 0"
          >
          
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Curso </th>
              <td mat-cell *matCellDef="let curso"> {{ curso.nombre }} </td>
            </ng-container>
          
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let curso"> {{ curso.descripcion }} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </form>
    </section>
</main>

