<main class="main">
    <section class="credenciales">
        <button mat-raised-button color="primary" (click)="verCredenciales()">
            Ver credenciales de acceso
        </button>
    </section>
    <section class="hero">
        <h1>Bienvenido a FADU</h1>
        <h3>Formando líderes para el futuro</h3>
    </section>
    <section class="about">
        <h2>Sobre Nosotros</h2>
        <p>La Fadu es una institución reconocida por su excelencia académica y compromiso con la educación de calidad.</p>
    </section>
    <section class="programs">
        <h2>Programas Académicos</h2>
            <ul>
                <li>Diseño por computadora</li>   
                <li>Diseño de interiores</li>
                <li>Diseño de paisaje</li>
                <li>Diseño de mobiliario</li>
            </ul>
    </section>
</main>

