<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>{{tipoUsuario$ | async}}</p>

    <button (click)="navegarYScrollear('/dashboard/users')" mat-raised-button>
      Crear usuario
    </button>
    <br><br>

    <button (click)="navegarYScrollear('/dashboard/ingresar-alumnos')" mat-raised-button>
      Ingresar alumnos
    </button>
    <br><br>

    <button (click)="navegarYScrollear('/dashboard/seleccionar-curso')" mat-raised-button>
      Selección de cursos
    </button>
    <br><br>

    <button (click)="navegarYScrollear('/dashboard/crear-curso')" mat-raised-button>
      Agregar cursos
    </button>
    <br><br>

    <button (click)="cerrarSesion()" mat-raised-button>
      Cerrar sesión
    </button>
  </mat-drawer>
  
  <div class="example-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mi cuenta</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <ng-content></ng-content>
  </div>
</mat-drawer-container>





