
<main class="main" id="main-content">
    <section class="hero">
        <h1>Bienvenido a FADU</h1>
        <h3>Formando líderes para el futuro</h3>
    </section>

    <section class="about">
        <h2>Informacion para docentes:</h2>
        <p>Los <b>docentes</b> registrados en la pagina de la FADU podran acceder a:</p>
        <ul>
            <li>✔️ Creacion de usuarios</li>
            <li>✔️ Inscripcion de alumnos</li>
            <li>✔️ Creacion de cursos</li>
        </ul>
        <h2>Informacion para alumnos:</h2>
        <p>Los <b>alumnos</b> registrados en la pagina de la FADU podran acceder a:</p>
        <ul>
            <li>✔️ Creacion de usuarios</li>
            <li>✔️ Seleccion de cursos</li>
        </ul>
    </section>
    
</main>
