
<main class="main">
    <section class="hero">
        <h1>Bienvenido a FADU</h1>
        <p>Formando líderes para el futuro</p>
    </section>

    <section class="about">
        <h2>Sobre Nosotros</h2>
        <p>La Fadu es una institución reconocida por su excelencia académica y compromiso con la educación de calidad.</p>
    </section>

    <section class="programs">
        <h2>Programas Académicos</h2>
        <ul>
            <li>Arquitectura</li>   
            <li>Diseño grafico</li>
            <li>Paisajismo</li>
            <li>Diseño de interiores</li>
        </ul>
    </section>
    <section class="main">
        <h2 class="detalle-alumnos" (click)="toggleDetalles()" style="cursor: pointer;">
        Cursos
        </h2>
        <section *ngIf="mostrarDetalles">
          <p><strong>ID:</strong> {{ curso.id }}</p>
          <p><strong>Materia:</strong> {{ curso.nombre }}</p>
          <p><strong>Duracion en meses:</strong> {{ curso.meses }}</p>
          <p><strong>Cantidad de materias:</strong> {{ curso.materias }}</p>
          <p><strong>Fecha de inscripción:</strong> {{ curso.inscripcion | date:'dd/MM/yyyy' }}</p>
          <p><strong>Activa:</strong> {{ curso.activo ? 'Sí' : 'No' }}</p>
        </section>
    </section>
</main>
