<main class="main">
    <section>
        <h2>Formulario de Alumno</h2>
        <label for="id">ID:</label>
        <input type="number" [(ngModel)]="id" id="id" />
      
        <label for="nombre">Nombre:</label>
        <input type="text" [(ngModel)]="nombre" id="nombre" />
      
        <label for="apellido">Apellido:</label>
        <input type="text" [(ngModel)]="apellido" id="apellido" />
      
        <label for="edad">Edad:</label>
        <input type="number" [(ngModel)]="edad" id="edad" />
      
        <label for="inscripto">¿Está inscrito?</label>
        <input type="checkbox" [(ngModel)]="inscripto" id="inscripto" />
      
        <button (click)="imprimirInformacion()">Imprimir Información</button>
      
        <!-- Aquí se imprimen todos los alumnos ingresados con su color correspondiente -->
        <div *ngIf="alumnos.length > 0">
          <h3>Alumnos Ingresados:</h3>
          <ul>
            <li *ngFor="let alumno of alumnos" [appColorInscripto]="alumno.inscripto">
              {{ alumno.info }}
            </li>
          </ul>
        </div>
    </section>
</main>


  
  
  
  
  
